<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <section class="section">
        <div class="container">
            {% include('components/_navbar.html.twig') %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </section>
        {% block javascripts %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </body>
</html>
